
.shadow_logo {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0.5, 2, 3);
}

.shadow_popup {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.transparent_background {
    -fx-background-color: transparent;
}


.shadow_decks {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 0);
}

.shadow_decks:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}


.shadow_short {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1);
}


.button_container {}

.button_container:hover {
    -fx-cursor: hand;
}

.button_container > .vbox {
    -fx-border-width: 2;
    -fx-border-color: #00A8E8;
    -fx-background-color: #F6F6F6;
}


.button_container:hover > .vbox {
    -fx-background-color: #2EB7EC;
    -fx-border-width: 3;
}

.button_container:hover > .vbox > .text {
    -fx-fill: #ffffff;
}

.button_container:hover > .text {
    -fx-fill: #9497A0;
}



.button_container2 {}

.button_container2:hover {
    -fx-cursor: hand;
}

.button_container2 > .vbox {
    -fx-border-width: 2;
    -fx-border-color: #F7A072;
    -fx-background-color: #F6F6F6;
}

.button_container2:hover > .vbox {
    -fx-background-color: #F8B18B;
    -fx-border-width: 3;
}

.button_container2:hover > .vbox > .text{
    -fx-fill: #ffffff;
}

.button_container2:hover > .text {
    -fx-fill: #9497A0;
}




.vbox {
}

.text {
}



